# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

####
# Javascript files
###
#
# Javascript used styleguide : Airbnb > https://github.com/airbnb/javascript

[*.js]
indent_style = space
indent_size = 2